@inherits LayoutComponentBase

<div class="flex flex-col min-h-screen transition-all text-base">
    
    <!-- Navbar -->
    <WebKitNavBar />
    
    <!-- Body -->
    <main class="flex-1 flex">
        @Body
    </main>
    
    <!-- Footer -->
    <WebKitFooter />
</div>