@inject IJSRuntime JsRuntime;
@code {
    [Parameter]
    public string? VideoSource { get; set; }
    
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }
}
<div class="hero min-h-[50vh] h-dvh @InputAttributes?.GetValueOrDefault("webkit:class", "")">
    <div class="overflow-auto w-full h-full" x-data>
        <video x-ref="hero_video" x-intersect="$refs.hero_video.muted = true; $refs.hero_video.play();" src="@VideoSource" class="w-full h-full" style="object-fit: cover" oncontextmenu="return false;" autoplay loop muted playsinline>
        </video>
    </div>
    <div class="hero-overlay"></div>
    <div class="hero-content gap-0 p-0 max-w-[95dvw] text-neutral-content text-center z-[1] @InputAttributes?.GetValueOrDefault("webkit:hero-content:class", "")">
        @ChildContent
    </div>
</div>